.modal {
    position: absolute;
    bottom: -10px;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 250px;
}

.modal-options button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem 0;
    text-align: left;
}

.dropdown-modal {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    .option-list {
        display: grid;
        gap: .5em;
    }
}