.todo-preview {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .todo-metadata {
        position: relative;
        display: grid;
        grid-template-columns: minmax(auto, 100px) minmax(auto, 100px) minmax(auto, 100px) minmax(auto, 50px) minmax(auto, 50px);
        gap: 1em;

        text-align: center;
    }

    &.cards {
        flex-direction: column;
    }
}